body,
html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

#banner {
  display: flex;
  margin-left: 25px;
  align-items: center;
  gap: 30px;
}

/* header {
  text-align: center; 
   background: #eee; 
   padding: 20px 0;
} */

#navbar {
  display: flex;
  justify-content: flex-start;
  gap: 50px;
  padding-left: 20px;
  background-color: #eb583f;
  height: 50px;
}

#navbar a {
  margin: 15px 15px;
  text-decoration: none;
  color: #111;
}
/* 
.hero h1 {
  margin: 0;
}

.hero p {
  margin: 5px 0 20px;
} */

main {
  display: flex;
}

#sidebar {
  width: 15%;
  background: #f4f4f4;
  padding: 20px;
  /* align-content: center; */
}

#products {
  width: 80%;
  padding: 20px;
  /* display: flex; */
  /* flex-wrap: wrap; */
  /* background-color: red; */
}

.product {
  /* width: calc(50% - 40px); Adjust based on your layout preferences */
  margin: 10px;
  padding: 10px;
  background: #ddd;
}

.filter-btn {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

#products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.product {
  background: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  /* background-color: red; */
}

.product-image {
  width: 100%; /* Full width of the card */
  height: 200px; /* Fixed height */
  object-fit: cover; /* Cover the area without stretching */
}

.price-tag {
  font-size: 1.2em; /* Larger font for the price tag */
  font-weight: bold; /* Make the price tag bold */
  color: #eb583f; /* Use the brighter red color for the price tag */
  padding: 5px 0; /* Add some vertical padding */
  /* Add other styles as needed */
}

.product-info {
  padding: 15px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.comments-count {
  color: #777;
  font-size: 0.9em;
}
